<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spreadtrum.iit.zpayapp">


    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".common.MyApplication">
        <activity android:name=".register.LoginActivity">

        </activity>
        <activity android:name=".register.RegisterActivity"></activity>
        <activity android:name=".RegisterActivity_1"></activity>
        <activity android:name=".RegisterActivity_2"></activity>
        <activity android:name=".RegisterActivity_3"></activity>
        <activity android:name=".RegisterActivity_4"></activity>
        <activity android:name=".login.UserDigitalPwdLoginActivity"></activity>
        <activity android:name=".login.UserZhiwenLoginActivity"></activity>
        <activity android:name=".display.ApplicationActivity"></activity>
        <activity android:name=".display.SpecialApplicationActivity"></activity>

        <activity android:name=".displaydemo.MainDisplayActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".network.bluetooth.BluetoothSettingsActivity"></activity>
        <activity android:name=".network.webservice.WebserviceActivity">

        </activity>
        <activity android:name=".displaydemo.SpecialAppActivity">

        </activity>

        <activity android:name=".network.tcp.SimpleClientActivity">

        </activity>
        <activity android:name=".network.bluetooth.BluetoothTestActivity">

        </activity>
        <activity android:name=".network.bluetooth.DeviceControlActivity"></activity>
        <activity android:name=".network.TestNetworkActivity">

        </activity>

        <activity android:name=".network.nfc.NFCDemoActivity">

        </activity>

        <service android:name=".network.bluetooth.BluetoothService"></service>
        <meta-data android:name="design_width" android:value="1440">
        </meta-data>
        <meta-data android:name="design_height" android:value="2560">
        </meta-data>

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--允许应用程序发现蓝牙设备-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--允许应用程序连接蓝牙设备-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--允许访问NFC-->
    <uses-permission android:name="android.permission.NFC"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"></uses-feature>
</manifest>